---
layout: base
---

<!-- <div class="hero"></div> -->

<div class="bannerimg">
    <img src="{{ MLG.src }}" alt="{{ MLG.alt }}">
</div>

<div class="main-content">
    {{ content }}
</div>

<div class="gallery">
    <div class="column">
        <img src="{{ sculpture1.src }}" alt="{{ sculpture1.alt }}">
        <img src="{{ sculpture3.src }}" alt="{{ sculpture3.alt }}">
    </div>
    <div class="column">
        <img src="{{ sculpture2.src }}" alt="{{ sculpture2.alt }}">
        <img src="{{ sculpture4.src }}" alt="{{ sculpture4.alt }}">
    </div>
</div>

<div class="contact">
    <ul>
        <li><a href="#">Contact</a></li>
    </ul>
</div>