<!-- The content in this file is inserted into the base.html file -->
<footer>
    <div class="inner-wrapper">
        <div class="socials">
            <ul class="socialcolumn">
                <li class><a href="#"><img src="{{ insta.src }}" alt="{{ insta.alt }}"></a></li>
            </ul>
            <ul class="socialcolumn">
                <li><a href="#"><img src="{{ facebook.src }}" alt="{{ facebook.alt }}"></a></li>
            </ul>
            <ul class="socialcolumn">
                <li><a href="#"><img src="{{ twitter.src }}" alt="{{ twitter.alt }}"></a></li>
            </ul>
        </div>
    </div>
</footer>